             
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <h3>Flash Templates</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="item_container">
                    {{#each products}}
                                    <div class="item">
                                        <a  href="{{href}}"  class="thumbnail">
                                            <img src="images/flashmo_280_dynamic_stack.jpg" alt="Dynamic Stack">
                                            <p>{{name}}</p>
                                        </a>
                                    </div>  
                    {{/each}}